/*Elementos básicos del css*/
section{
    margin-bottom: 100px;
}


/*Botón con animación*/
button {
    transform: perspective(1px) translateZ(0);
    transition-duration: 0.5s;
}

button:hover {
    transform: scale(0.8);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*Loader*/
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loaderDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
}

/*Función para el slide in del menú*/

.menu-container {
    position: relative;
    background-color: #333;
}

#menu-toggle {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: -25vh;
    /* Ocultar el menú fuera de la pantalla */
    background-color: #444;
    height: 10vh;
    width: 100%;
    transition: top 0.3s ease; /* Transición suave */
    z-index: 1;
    margin-bottom: 50%;
}

.menu.active {
    top: 0;
    /* Mostrar el menú */
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    /* Disposición en línea horizontal */
    justify-content: space-around;
    /* Espaciado entre elementos */
}

.menu li {
    border-bottom: 1px solid #555;
}

.menu a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 15px;
}

.menu a:hover {
    background-color: #555;
}

/*Grid con varios productos*/
* {
  /*IMportante para el no desplazamiento de los productos al girar*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  grid-auto-rows: minmax(75px, auto); /* Ajustado para permitir mayor tamaño */
  gap: 10px;
  row-gap: 2%;
  column-gap: 2%;
  padding: 10px;
}

.grid-item {
  perspective: 1000px; /* Needed for 3D flip effect */
}

.normal {
  grid-column: span 2;
}

.featured {
  grid-column: span 4;
  grid-row: span 4;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative; /* Ensure the flip card stays in place */
  perspective: 1000px;
  aspect-ratio: 1; /* Mantén la tarjeta cuadrada */
  border-radius: 28px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Sombra */
  transition: box-shadow 0.4s ease-in-out; /* Transición suave */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform-origin: center; /* Ensure the rotation happens from the center */
  transform: translateZ(0); /* Evita desplazamientos 3D no deseados */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg); /* Flip horizontally */
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden; /* Hide the back face when not visible */
  border-radius: 28px;
}

.flip-card-front {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  padding: 20px;
}

.flip-card-back {
  background-color: #333;
  color: white;
  transform: rotateY(180deg); /* Flip the back face */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

h2, p {
  margin: 10px 0;
}

/*Para que sea responsive*/
@media (max-width: 600px) {
  .grid-item.featured {
    grid-column: span 2;
    grid-row: span 2;
  }
}
