:root {
  --background-color-dark: #1C1C21;
  --text-color-dark: white;
  --background-color-light: #FFFFFF;
  --text-color-light: #000000;
  --primary-color: #444444;
  --secondary-color: #262f35;
  --terniary-color: #333; 
  --cobalt:#095070; 
}

/* Default to dark mode */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

/* Dark mode specific */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  
  .menu-container, .menu, #menu-toggle, .text-content {
    background-color: var(--primary-color);
  }

  .progress, .prev, .next {
    background-color: var(--secondary-color);
  }

  .loader {
    border-color: var(--background-color-light);
    
  }

  .loaderDiv{
    background-color: var(--background-color-dark);
  }
}

/* Light mode specific */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }

  .menu-container, .menu, #menu-toggle, .text-content {
    background-color: var(--background-color-light);
  }

  .progress, .prev, .next {
    background-color: var(--primary-color);
  }

  .loader {
    border-color: #000;
    
  }

  .loaderDiv{
    background-color: var(--background-color-dark);
  }
}


/* Estilos para el modo oscuro */
body.dark-mode {
  background-color: var(--background-color-light);
  color: var(--text-color-ligth);
}

body.dark-mode .menu-container,
body.dark-mode .menu,
body.dark-mode .text-content {
  background-color: var(--background-color-light);
}

body.dark-mode .progress,
body.dark-mode .prev,
body.dark-mode .next {
  background-color: var(--secondary-color);
}

body.dark-mode .loader {
  border-color: var(--background-color-dark);
}

body.dark-mode .loaderDiv {
  background-color: var(--background-color-light);
}

body.dark-mode #menu-toggle{
  background-color: var(--background-color-light);
  color: var(--background-color-dark); 
}

body.dark-mode li{
  border-color: var(--background-color-dark);
  color: var(--text-color-light); 
}

body.dark-mode .menu a {
  color: var(--text-color-light); 
}

body.dark-mode .menu a:hover {
  background-color: var(--primary-color);
}

body.dark-mode .menu li:hover > a {
  background-color: var(--primary-color); /* Cambia el fondo del elemento actual */
  color:var(--text-color-dark);
  border-bottom-color: var(--text-color-dark);
}

/* Ilumina elementos adyacentes */
body.dark-mode .menu li:hover + li > a,
body.dark-mode .menu li:hover ~ li > a {
  background-color: var(--primary-color); /* Cambia el fondo de los elementos hermanos */
  color:var(--text-color-dark);
}

/* Para iluminar el anterior también */
body.dark-mode .menu li:hover ~ li:first-child > a {
  background-color: var(--primary-color); /* Cambia el fondo del primer hermano después del que se pasa el ratón */
  color:var(--text-color-dark);
}












/*Elementos básicos del css*/
section {
  margin-bottom: 100px;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}



/*Botón con animación*/
#id {
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.5s;
}

#id:hover {
  transform: scale(0.8);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*Loader*/
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loaderDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}



/*Función para el slide in del menú*/

.menu-container {
  position: relative;
  background-color: var(--terniary-color);
}

#menu-toggle {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--text-color-dark);
  background-color: var(--terniary-color);
}

.menu {
  position: absolute;
  top: -25vh;
  /* Ocultar el menú fuera de la pantalla */
  height: 10vh;
  width: 100%;
  transition: top 0.3s ease;
  /* Transición suave */
  z-index: 1;
  margin-bottom: 50%;
  background-color: var(--terniary-color);
}

.menu.active {
  top: 0;
  /* Mostrar el menú */
}

.menu ul {
  list-style: none;
  padding: 10px;
  display: flex;
  /* Disposición en línea horizontal */
  justify-content: space-around;
  /* Espaciado entre elementos */
}

.menu li {
  border-bottom: 1px solid;
}

.menu a {
  color: var(--background-color-light);
  text-decoration: none;
  display: block;
  padding: 15px;
}

.menu li:hover > a {
  background-color: var(--primary-color); /* Cambia el fondo del elemento actual */
}

/* Ilumina elementos adyacentes */
.menu li:hover + li > a,
.menu li:hover ~ li > a {
  background-color: var(--primary-color); /* Cambia el fondo de los elementos hermanos */
}

/* Para iluminar el anterior también */
.menu li:hover ~ li:first-child > a {
  background-color: var(--primary-color); /* Cambia el fondo del primer hermano después del que se pasa el ratón */
}

/*.menu ul li:first-child a:hover {
  background-color: #4CAF50; /* Color de fondo del primer elemento en hover */
  /*color: white; /* Color de texto en hover */
  /*font-weight: bold; /* Negrita en hover */
/*}

/* Estilo del último elemento solo cuando se hace hover */
/*.menu ul li:last-child a:hover {
  background-color: #f44336; /* Color de fondo del último elemento en hover */
  /*color: white; /* Color de texto en hover */
  /*font-weight: bold; /* Negrita en hover */
/*}*/














/*Header*/

#title{
  background-image: url("..\/media/img/fondo_inicio.jpg");
  width: 100%;
  height: 60vh;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

#title::before {
  content: '';
  position: absolute;
  top: 4.1vh;
  left: 0;
  width: 100%;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.5); /* Capa negra con 50% de opacidad */
}

#title > p {
  z-index: 9999;
  color: white ;
  opacity: 100%;
}

#texto-title{
  background-color: #444444;  
  color: whitesmoke;
  height: 40vh;
}



#about-us{
  margin-top: 0%;

}


.slider {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
  background-color: #dddbd9; 
}

.slide {
  min-width: 100%;
  height: 100%;
  display: flex;
  
}

.slides{
  display: flex;
  flex-direction: row;
}

/* Contenedor de las imágenes */
.imagenes {
  position: relative;
  width: 33.33%;
  height: 50vh;
}

.fondo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.resalto {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  transition: filter 0.3s ease; /* Transición suave para el filtro */
}

.resalto:hover {
  filter: drop-shadow(2px 4px 15px rgba(255, 255, 255, 1)) /*Aplica solo a las areas visibles de la imagen*/
}

/* Estilos de contenido de texto */
.text-content {
  width: 66.66%;
  padding: 40px;
  background-color: #262f35;
  color:whitesmoke; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 50vh;
}

/* Estilos de los títulos y textos */
.text-content h2, .text-content h3, .text-content p {
  margin: 10px 0;
  text-align: justify;
  margin:1% 5%;
}

.text-content h2 {
  font-size: 2vw;
}

.text-content h3 {
  font-size: 1.5vw;
}

.text-content p {
  font-size: 1.2vh;
  max-height: 25vw;
}

/* Estilos para los botones de navegación */
.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 10; /* Asegura que los botones estén sobre las imágenes */
  border-radius: 5px;
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

/* Estilos de la barra de progreso */
.progress-bar {
  position: absolute;
  bottom: 0px;
  left: 2.5%;
  width: 95%;
  height: 5px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  z-index: 15; /* Asegura que la barra de progreso esté visible sobre las imágenes */
}

.progress {
  height: 100%;
  width: 0%;  
  background-color: #095070;
  transition: width 0.3s ease;
}

/* Estilo del punto en la barra de progreso */
.progress-point {
  position: absolute;
  height: 15px;
  width: 15px;
  background-color: #095070;
  border-radius: 50%;
  transform: translate(-50%, -40%);
  bottom: -10px;
  left: 10px;
  
}

/* Estilo del tooltip */
.tooltip {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-40%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s;
}

.progress-point:hover .tooltip {
  visibility: visible;
  opacity: 1;
}




/*Boton modo oscuro modo claro*/

.toggle-switch {
  position: fixed; /* Cambiado a fixed para asegurar que se quede en su lugar */
  bottom: 20px;    /* Espaciado desde la parte inferior */
  right: 20px;     /* Espaciado desde la parte derecha */
  width: 60px;
  height: 30px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
  z-index: 1000;  /* Asegura que esté por encima de otros elementos */
}

.switch-label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
  position: relative;
}

.checkbox {
  display: none;
}

.slider-switch {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  transition: 0.3s;
}

.checkbox:checked + .switch-label .slider-switch {
  background-color: var(--light);
}

.slider-switch::before {
  content: "";
  position: absolute;
  top: 2px; 
  width: 20px;
  height: 20px;
  border-radius: 50%;
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

.checkbox:checked + .switch-label .slider-switch::before {
  transform: translateX(32px);
  background-color: var(--dark);
  box-shadow: none;
}







/*Grid con varios productos*/

* {
  /*IMportante para el no desplazamiento de los productos al girar*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 20px;
  padding: 20px;
  grid-auto-rows: minmax(75px, auto);
  /* Ajustado para permitir mayor tamaño */
  gap: 10px;
  row-gap: 2%;
  column-gap: 2%;
  padding: 20px;
  margin: 2% 5%; 
}

.grid-item {
  perspective: 1000px;
  /* Needed for 3D flip effect */
}

.normal {
  grid-column: span 2;
}

.featured {
  grid-column: span 4;
  grid-row: span 4;
}

/*Modificar*/
.new-label {
  position: absolute;
  right: 50px;
  background-color: #aa0000;
  color: white;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: bold;
  z-index: 2;
  /* Asegura que esté sobre la tarjeta */
  transition: opacity 0.5s ease;
  /* Transición suave para la opacidad */

  /* Estilo de cinta */
  height: 50px;
  /* Altura del marcador */
  align-content: center;
  /* Centrar el texto verticalmente */
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
  /* Puntas en pico */
  border-radius: 3px 3px 15px 15px;
  /* Bordes redondeados en la parte superior */
}

/* Crear un pequeño efecto de sombra */
.new-label::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: -1;
  border-radius: 3px 3px 15px 15px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
  transform: translateY(3px);
  /* Sombra sutil */
  opacity: 0.5;
  /* Transparencia para el efecto de sombra */
}

/* Crear un pequeño efecto de sombra */
.new-label::after {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: -1;
  border-radius: 3px 3px 15px 15px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
  transform: translateY(3px);
  /* Sombra sutil */
  opacity: 0.5;
  /* Transparencia para el efecto de sombra */
}

/* Ocultar la etiqueta "Nuevo" cuando la tarjeta se dé la vuelta */
.flip-card:hover .new-label {
  opacity: 0;
  
}


.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: relative;
  /* Ensure the flip card stays in place */
  perspective: 1000px;
  aspect-ratio: 1;
  /* Mantén la tarjeta cuadrada */
  border-radius: 28px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  /* Sombra */
  transition: box-shadow 0.4s ease-in-out;
  /* Transición suave */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  transform-origin: center;
  /* Ensure the rotation happens from the center */
  transform: translateZ(0);
  /* Evita desplazamientos 3D no deseados */
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  
  /* Flip horizontally */
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  /* Hide the back face when not visible */
  border-radius: 28px;
}

.flip-card-front {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color-dark); 
  font-size: 2vh;
  padding: 20px;
}

.flip-card-back {
  background-color: var(--secondary-color);
  color: white;
  transform: rotateY(180deg);
  /* Flip the back face */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-size:1.5vh;
}



/*Para que sea responsive*/
@media (max-width: 600px) {
  .grid-item.featured {
    grid-column: span 2;
    grid-row: span 2;
  }
}













/* Estilo del slider */
/* Estilo del slider */






















/*Estilos del contacto*/
#contacto-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#contacto-content p {
  width: 100%;
  /* margin: 2vh 3vh; */
  text-align: justify;
}

.left-content{
  display: flex;
  flex-direction: column;
  width: 50%;
}

#mapa{
  width: 50vw; 
  height: 40vh;  
  align-self: center;
  margin-top: 10px; 
  border: 0;
}

/*Formulario*/
.login-box {
  width: 50vh;
  padding: 40px;
  margin-left: 20px;
  background: #262f35;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 10px;
  max-height: 500px;
}

.login-box p:first-child {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.user-box {
  position: relative;
}

.login-box .user-box input, 
.login-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  resize: none;
  line-height: 1.5;
  box-sizing: border-box;
}

.login-box .user-box label {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

/* Estilo para el label cuando el input está enfocado o tiene contenido */
.user-box input:focus + label,
.user-box input:not(:placeholder-shown) + label,
.user-box textarea:focus + label,
.user-box textarea:not(:placeholder-shown) + label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

/* Botón del formulario */
.button-form {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-weight: bold;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 3px;
}

.button-form:hover {
  background: #fff;
  color: #272727;
  border-radius: 5px;
}

.button-form span {
  position: absolute;
  display: block;
}

.button-form span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 12.5s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%, 100% {
    left: 100%;
  }
}

.button-form span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 12.5s linear infinite;
  animation-delay: 3.125s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%, 100% {
    top: 100%;
  }
}

.button-form span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 12.5s linear infinite;
  animation-delay: 6.25s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%, 100% {
    right: 100%;
  }
}

.button-form span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 12.5s linear infinite;
  animation-delay: 9.375s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%, 100% {
    bottom: 100%;
  }
}

/* Estilo de los campos cuando son inválidos */
#email:invalid,
#mensaje:invalid {
  border-bottom: 1px solid red; 
  background: rgba(255, 0, 0, 0.1); 
}

#email:invalid ~ label,
#mensaje:invalid ~ label {
  color: red; 
}

.button-form input {
  background-color: transparent;
  color: #f5f5f5;
  border: none;
  font-size: 1.5rem;
}

.button-form input:hover {
  color: #000; 
}



footer {
  background-color: #333;
  margin-bottom: 0px;
  padding: 1% ;
}
footer p {
  text-align: center;
}